<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ncku.firesimplemail">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="Fire Simple Mail"
            android:name=".ActivityFacilityList">
        </activity>

        <activity
            android:label="Mail View"
            android:name=".ActivityMailView">
        </activity>

        <activity
            android:label="Mail Write"
            android:name=".ActivityMailWrite">
        </activity>

        <activity
            android:windowSoftInputMode="adjustPan"
            android:label="Task Write"
            android:name=".ActivityTaskWrite">
        </activity>
        
        <receiver android:name=".TaskReceiver">
            <intent-filter>
                <action android:name="task.receiver" />
            </intent-filter>
        </receiver>

        <service android:name=".TaskRunner"/>

    </application>

</manifest>